<div class="homepage">
  {{!-- <div class="text">
  <h1>Heading</h1>
  </div> --}}
  
</div>
<div class="glassCard">
   <div class="card-group">
        <div class="card">
          <div class="logo">VISA</div>
          <div class="number">4242 4242 4242 4242</div>
          <div class="name">VARUN KUMAR</div>
          <div class="from">06/21</div>
          <div class="to">06/27</div>
          <div class="ring"></div>

        </div>
      </div>
  </div>
  </div class="footer">
    <div class="bg-dark text-secondary px-3 py-4 text-center ">
      
    <div class="py-4">
      <h3 class="display-5 fw-bold text-white">Thankyou For Visiting</h3><br>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4 text-white">© 2021  -----<b>Varun kumar</b><br>E-mail--varun.kr.0707@gmail.com</p>
        {{!-- <button type="button" class="btn btn-outline-light btn-lg px-4">Connect With Me</button><br></br> --}}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" ><a href="https://www.linkedin.com/in/varun-kumar-5b9b3a20a">Linkedin</a></button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Github</button>
        </div>
      </div>
    </div>
  </div>


{{!-- ff2e00  --}}
